apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: packetcaptures.antrea.io
spec:
  group: antrea.io
  scope: Namespaced
  names:
    plural: packetcaptures
    singular: packetcapture
    kind: PacketCapture
    shortNames:
      - pcapture
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - podSelector
              properties:
                podSelector:
                  type: object
                  properties:
                    matchLabels:
                      type: object
                      additionalProperties:
                        type: string
                    matchExpressions:
                      type: array
                      items:
                        type: object
                        required:
                          - key
                          - operator
                        properties:
                          key:
                            type: string
                          operator:
                            type: string
                          values:
                            type: array
                            items:
                              type: string
                timeout:
                  type: string
            status:
              type: object
              properties:
                phase:
                  type: string
                fileLocation:
                  type: string
                message:
                  type: string
                nodeName:
                  type: string
      subresources:
        status: {}
